<div class="col-md-12">
  <div id="capture-nav" class="btn-group btn-group-xs btn-group-justified">
    <%= link_to t("repeat.categories.mood"), "#", remote: true, class: "btn active btn-primary" %>
    <%= link_to t("repeat.categories.sleep"), sleeps_cancel_path, remote: true, class: "btn btn-default" %>
    <%= link_to t("repeat.categories.selfcare"), self_cares_cancel_path, remote: true, class: "btn btn-default" %>
    <%= link_to t("repeat.categories.journal"), journals_cancel_path, remote: true, class: "btn btn-default" %>
  </div>
  <hr>
</div>