<div class="col-md-12">
  <div id="capture-nav" class="btn-group btn-group-xs btn-group-justified">
    <%= link_to 'Mood', moods_cancel_path, remote: true, class: "btn btn-default" %>
    <%= link_to 'Sleep', sleeps_cancel_path, remote: true, class: "btn btn-default" %>
    <%= link_to 'Self Care', "#", remote: true, class: "btn active btn-primary" %>
    <%= link_to 'Journal', journals_cancel_path, remote: true, class: "btn btn-default" %>
  </div>
  <hr>
</div>