<div class="col-md-12">
  <div id="capture-nav" class="btn-group btn-group-xs btn-group-justified">
	  <%= link_to 'Mood', moods_cancel_path, remote: true, class: "btn btn-default", disabled: "disabled" %>
	  <%= link_to 'Sleep', sleeps_cancel_path, remote: true, class: "btn btn-default", disabled: "disabled" %>
	  <%= link_to 'Self Care', self_cares_cancel_path, remote: true, class: "btn active btn-primary", disabled: "disabled" %>
	  <%= link_to 'Journal', journals_cancel_path, remote: true, class: "btn btn-default", disabled: "disabled" %>
  </div>
  <hr>
</div>