<% if @user == nil %>
  <% user = current_user %>
<% else %>
  <% user = @user%>
<% end %>

<% if $capture_date == nil %>
  <% $capture_date = Date.today %>
<% end %>

<% @capture_journals = Journal.where(user_id: user.id, timestamp: ($capture_date.at_beginning_of_day.in_time_zone..$capture_date.end_of_day.in_time_zone)) %>

<% (1..8).each do %>
  <br>
<% end %>
<div class="scroller">
<% if !@capture_journals.nil? %>
  <% @capture_journals.each do |journal| %>
    <div>
      <p>
        <%= journal.journal_entry %>
      </p>
      <% (1..7).each do %>
        <br>
      <% end %>
      <center>
        <%= journal.timestamp.strftime("%I:%M %p") %> <br>
        <%= link_to 'Edit', edit_journal_path(id: journal.id), remote: true, class: "btn btn-sm" %><br>
      </center>
    </div>
  <% end %>
<% end %>
<% if @capture_journals.nil? || @capture_journals.count < MAX_JOURNAL_ENTRIES %>
  <div>
    <center>
      <% (1..8).each do %>
        <br>
      <% end %>
      <%= link_to 'Add Journal', new_journal_path(capture_source: 'journal'), remote: true, class: "btn btn-primary btn-lg" %><br>
      <% (1..8).each do %>
        <br>
      <% end %>
    </center>
  </div>
<% end %>
</div>


<script type="text/javascript">
  $('.scroller').slick({
    dots: true
  })
</script>