<center>

  <div class="scroller">
    <div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
  	  
      <%= link_to 'Add Mood', new_mood_path, remote: true, class: "btn btn-primary btn-lg" %><br>
      
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

    </div>
    <div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
  	  
      <%= link_to 'Add Mood', new_mood_path, remote: true, class: "btn btn-primary btn-lg" %><br>
      
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

    </div>
    <div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    	
      <%= link_to 'Add Mood', new_mood_path, remote: true, class: "btn btn-primary btn-lg" %><br>
      
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
</center>

<script type="text/javascript">
  $('.scroller').slick({
    dots: true
  })
</script>