<center>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="scroller">
    <div>
  	<%= link_to 'Add Mood', new_mood_path, remote: true, class: "btn btn-primary btn-lg" %><br>
<br>
<br>
<br>
<br>
<br>
<br>

    </div>
    <div>
  	<%= link_to 'Add Mood', new_mood_path, remote: true, class: "btn btn-primary btn-lg" %><br>
<br>
<br>
<br>
<br>
<br>
<br>

    </div>
    <div>
    	<%= link_to 'Add Mood', new_mood_path, remote: true, class: "btn btn-primary btn-lg" %><br>
<br>
<br>
<br>
<br>
<br>
<br>

    </div>
</div>
</center>

<script type="text/javascript">
  $('.scroller').slick({
    dots: true
  })
</script>