<div class="modal-header">
  <h3><%= t "moods.delete.header" %></h3>
</div>

<div class="modal-body">
  <ul class="errors"></ul>
  <%= t "moods.delete.sure" %>
</div>

<div class="modal-footer">
  <%= link_to t("moods.delete.yes"), mood_path(@mood), method: :delete, remote: true, class: "btn btn-danger" %>
  <%= link_to t("moods.delete.no"), "#", class: "btn btn-default", data: {dismiss: "modal"} %>
</div>