<div class="mood-index">
  <%= render "index" %>
</div>

<div id="mood-modal" class="modal fade">
  <div class="modal-dialog">
    <div id="inner-mood-modal" class="modal-content"></div>
  </div>
</div>