<% if @user == nil %>
  <% user = current_user %>
<% else %>
  <% user = @user%>
<% end %>

<% @self_cares = SelfCare.where(user_id: user.id) %>

<% @self_cares_counseling = SelfCare.where(user_id: user.id, counseling: true) %>
<% @self_cares_medication = SelfCare.where(user_id: user.id, medication: true ) %>
<% @self_cares_meditation = SelfCare.where(user_id: user.id, meditation: true) %>
<% @self_cares_exercise = SelfCare.where(user_id: user.id, exercise: true) %>

<div class="col-md-12">
  <%= column_chart [
  {name: "Counseling", data: @self_cares_counseling.group_by_day(:created_at, last: @self_care_lookback_period, format: "%b %d, %Y").count(:counseling)}
  ], colors: [SELF_CARE_PRIMARY_COLOR],
  library: {
      title: "Counseling",
      titlePosition: 'out',
      titleTextStyle: {
          color: SELF_CARE_PRIMARY_COLOR
      },
      backgroundColor: {
          fill: SELF_CARE_BACKGROUND_COLOR,
          stroke: SELF_CARE_PRIMARY_COLOR,
          strokeWidth: SELF_CARE_STROKE_WIDTH
      },
      animation: {
          duration: SELF_CARE_ANIMATION_DURATION,
          startup: true,
          easing: SELF_CARE_ANIMATION_EASING
      },
      hAxis: {
          textStyle: {
              color: SELF_CARE_PRIMARY_COLOR
          },
          gridlines: {
              color: SELF_CARE_BACKGROUND_COLOR
          }
      },
      legend: {
          textStyle: {
              color: SELF_CARE_PRIMARY_COLOR
          },
          position: SELF_CARE_LEGEND_POSITION
      },
      vAxis: {
          ticks: [{v:0, f:'No'}, {v:1, f:'Yes'}],
          textStyle: {
              color: SELF_CARE_PRIMARY_COLOR
          },
          gridlines: {
              color: SELF_CARE_BACKGROUND_COLOR
          }
      }
  } %>
</div>

<div class="col-md-12">
  <%= column_chart [
  {name: "Medication", data: @self_cares_medication.group_by_day(:created_at, last: @self_care_lookback_period, format: "%b %d, %Y").count(:medication)}
  ], colors: [SELF_CARE_PRIMARY_COLOR],
  library: {
      title: "Medication",
      titlePosition: 'out',
      titleTextStyle: {
          color: SELF_CARE_PRIMARY_COLOR
      },
      backgroundColor: {
          fill: SELF_CARE_BACKGROUND_COLOR,
          stroke: SELF_CARE_PRIMARY_COLOR,
          strokeWidth: SELF_CARE_STROKE_WIDTH
      },
      animation: {
          duration: SELF_CARE_ANIMATION_DURATION,
          startup: true,
          easing: SELF_CARE_ANIMATION_EASING
      },
      hAxis: {
          textStyle: {
              color: SELF_CARE_PRIMARY_COLOR
          },
          gridlines: {
              color: SELF_CARE_BACKGROUND_COLOR
          }
      },
      legend: {
          textStyle: {
              color: SELF_CARE_PRIMARY_COLOR
          },
          position: SELF_CARE_LEGEND_POSITION
      },
      vAxis: {
          ticks: [{v:0, f:'No'}, {v:1, f:'Yes'}],
          textStyle: {
              color: SELF_CARE_PRIMARY_COLOR
          },
          gridlines: {
              color: SELF_CARE_BACKGROUND_COLOR
          }
      }
  } %>
</div>

<div class="col-md-12">
  <%= column_chart [
  {name: "Meditation", data: @self_cares_meditation.group_by_day(:created_at, last: @self_care_lookback_period, format: "%b %d, %Y").count(:meditation)}
  ], colors: [SELF_CARE_PRIMARY_COLOR],
  library: {
      title: "Meditation",
      titlePosition: 'out',
      titleTextStyle: {
          color: SELF_CARE_PRIMARY_COLOR
      },
      backgroundColor: {
          fill: SELF_CARE_BACKGROUND_COLOR,
          stroke: SELF_CARE_PRIMARY_COLOR,
          strokeWidth: SELF_CARE_STROKE_WIDTH
      },
      animation: {
          duration: SELF_CARE_ANIMATION_DURATION,
          startup: true,
          easing: SELF_CARE_ANIMATION_EASING
      },
      hAxis: {
          textStyle: {
              color: SELF_CARE_PRIMARY_COLOR
          },
          gridlines: {
              color: SELF_CARE_BACKGROUND_COLOR
          }
      },
      legend: {
          textStyle: {
              color: SELF_CARE_PRIMARY_COLOR
          },
          position: SELF_CARE_LEGEND_POSITION
      },
      vAxis: {
          ticks: [{v:0, f:'No'}, {v:1, f:'Yes'}],
          textStyle: {
              color: SELF_CARE_PRIMARY_COLOR
          },
          gridlines: {
              color: SELF_CARE_BACKGROUND_COLOR
          }
      }
  } %>
</div>

<div class="col-md-12">
  <%= column_chart [
  {name: "Exercise", data: @self_cares_exercise.group_by_day(:created_at, last: @self_care_lookback_period, format: "%b %d, %Y").count(:exercise)}
  ], colors: [SELF_CARE_PRIMARY_COLOR],
  library: {
      title: "Exercise",
      titlePosition: 'out',
      titleTextStyle: {
          color: SELF_CARE_PRIMARY_COLOR
      },
      backgroundColor: {
          fill: SELF_CARE_BACKGROUND_COLOR,
          stroke: SELF_CARE_PRIMARY_COLOR,
          strokeWidth: SELF_CARE_STROKE_WIDTH
      },
      animation: {
          duration: SELF_CARE_ANIMATION_DURATION,
          startup: true,
          easing: SELF_CARE_ANIMATION_EASING
      },
      hAxis: {
          textStyle: {
              color: SELF_CARE_PRIMARY_COLOR
          },
          gridlines: {
              color: SELF_CARE_BACKGROUND_COLOR
          }
      },
      legend: {
          textStyle: {
              color: SELF_CARE_PRIMARY_COLOR
          },
          position: SELF_CARE_LEGEND_POSITION
      },
      vAxis: {
          ticks: [{v:0, f:'No'}, {v:1, f:'Yes'}],
          textStyle: {
              color: SELF_CARE_PRIMARY_COLOR
          },
          gridlines: {
              color: SELF_CARE_BACKGROUND_COLOR
          }
      }
  } %>
</div>