<% self_care_primary_color = "#8e44ad" %>
<% self_care_background_color = "#fff" %>
<% self_care_stroke_width = 0 %>
<% self_care_animation_duration = 1000 %>
<% self_care_animation_easing = 'in' %>
<% self_care_legend_position = 'none' %>


<% if @user == nil %>
  <% user = current_user %>
<% else %>
  <% user = @user%>
<% end %>

<% @self_cares = SelfCare.where(user_id: user.id) %>

<% @self_cares_counseling = SelfCare.where(user_id: user.id, counseling: true) %>
<% @self_cares_medication = SelfCare.where(user_id: user.id, medication: true ) %>
<% @self_cares_meditation = SelfCare.where(user_id: user.id, meditation: true) %>
<% @self_cares_exercise = SelfCare.where(user_id: user.id, exercise: true) %>

<div class="col-md-12">
  <%= column_chart [
  {name: "Counseling", data: @self_cares_counseling.group_by_day(:created_at, last: 7, format: "%b %d, %Y").count(:counseling)}
  ], colors: [self_care_primary_color],
  library: {
      title: "Counseling",
      titlePosition: 'out',
      titleTextStyle: {
          color: self_care_primary_color
      },
      backgroundColor: {
          fill: self_care_background_color,
          stroke: self_care_primary_color,
          strokeWidth: self_care_stroke_width
      },
      animation: {
          duration: self_care_animation_duration,
          startup: true,
          easing: self_care_animation_easing
      },
      hAxis: {
          textStyle: {
              color: self_care_primary_color
          },
          gridlines: {
              color: self_care_background_color
          }
      },
      legend: {
          textStyle: {
              color: self_care_primary_color
          },
          position: self_care_legend_position
      },
      vAxis: {
          ticks: [{v:0, f:'No'}, {v:1, f:'Yes'}],
          textStyle: {
              color: self_care_primary_color
          },
          gridlines: {
              color: self_care_background_color
          }
      }
  } %>
</div>

<div class="col-md-12">
  <%= column_chart [
  {name: "Medication", data: @self_cares_medication.group_by_day(:created_at, last: 7, format: "%b %d, %Y").count(:medication)}
  ], colors: [self_care_primary_color],
  library: {
      title: "Medication",
      titlePosition: 'out',
      titleTextStyle: {
          color: self_care_primary_color
      },
      backgroundColor: {
          fill: self_care_background_color,
          stroke: self_care_primary_color,
          strokeWidth: self_care_stroke_width
      },
      animation: {
          duration: self_care_animation_duration,
          startup: true,
          easing: self_care_animation_easing
      },
      hAxis: {
          textStyle: {
              color: self_care_primary_color
          },
          gridlines: {
              color: self_care_background_color
          }
      },
      legend: {
          textStyle: {
              color: self_care_primary_color
          },
          position: self_care_legend_position
      },
      vAxis: {
          ticks: [{v:0, f:'No'}, {v:1, f:'Yes'}],
          textStyle: {
              color: self_care_primary_color
          },
          gridlines: {
              color: self_care_background_color
          }
      }
  } %>
</div>

<div class="col-md-12">
  <%= column_chart [
  {name: "Meditation", data: @self_cares_meditation.group_by_day(:created_at, last: 7, format: "%b %d, %Y").count(:meditation)}
  ], colors: [self_care_primary_color],
  library: {
      title: "Meditation",
      titlePosition: 'out',
      titleTextStyle: {
          color: self_care_primary_color
      },
      backgroundColor: {
          fill: self_care_background_color,
          stroke: self_care_primary_color,
          strokeWidth: self_care_stroke_width
      },
      animation: {
          duration: self_care_animation_duration,
          startup: true,
          easing: self_care_animation_easing
      },
      hAxis: {
          textStyle: {
              color: self_care_primary_color
          },
          gridlines: {
              color: self_care_background_color
          }
      },
      legend: {
          textStyle: {
              color: self_care_primary_color
          },
          position: self_care_legend_position
      },
      vAxis: {
          ticks: [{v:0, f:'No'}, {v:1, f:'Yes'}],
          textStyle: {
              color: self_care_primary_color
          },
          gridlines: {
              color: self_care_background_color
          }
      }
  } %>
</div>

<div class="col-md-12">
  <%= column_chart [
  {name: "Exercise", data: @self_cares_exercise.group_by_day(:created_at, last: 7, format: "%b %d, %Y").count(:exercise)}
  ], colors: [self_care_primary_color],
  library: {
      title: "Exercise",
      titlePosition: 'out',
      titleTextStyle: {
          color: self_care_primary_color
      },
      backgroundColor: {
          fill: self_care_background_color,
          stroke: self_care_primary_color,
          strokeWidth: self_care_stroke_width
      },
      animation: {
          duration: self_care_animation_duration,
          startup: true,
          easing: self_care_animation_easing
      },
      hAxis: {
          textStyle: {
              color: self_care_primary_color
          },
          gridlines: {
              color: self_care_background_color
          }
      },
      legend: {
          textStyle: {
              color: self_care_primary_color
          },
          position: self_care_legend_position
      },
      vAxis: {
          ticks: [{v:0, f:'No'}, {v:1, f:'Yes'}],
          textStyle: {
              color: self_care_primary_color
          },
          gridlines: {
              color: self_care_background_color
          }
      }
  } %>
</div>