<div>
  <%= link_to 'Add a new Mood Entry', new_mood_path, class: "btn btn-primary" %>
  <%= link_to 'Add a new Sleep Entry', new_sleep_path, class: "btn btn-primary" %>
</div>

<br>

<div>
  <%= link_to 'View Mood Entries', moods_path, class: "btn btn-default" %>
  <%= link_to 'View Sleep Entries', sleeps_path, class: "btn btn-default" %>
</div>