<div class="shared-index">
  <%= render "shared/index" %>
</div>

<div id="mood-modal" class="modal fade">
  <div class="modal-dialog">
    <div id="inner-mood-modal" class="modal-content"></div>
  </div>
</div>

<div id="sleep-modal" class="modal fade">
  <div class="modal-dialog">
    <div id="inner-sleep-modal" class="modal-content"></div>
  </div>
</div>

<div id="self_care-modal" class="modal fade">
  <div class="modal-dialog">
    <div id="inner-self_care-modal" class="modal-content"></div>
  </div>
</div>

<div id="journal-modal" class="modal fade">
  <div class="modal-dialog">
    <div id="inner-journal-modal" class="modal-content"></div>
  </div>
</div>