<p><%= t("confirmable.mailer.hello", :var => @resource.email) %></p>

<p><%= t "confirmable.mailer.unlock1" %></p>

<p><%= t "confirmable.mailer.unlock2" %></p>

<p><%= link_to t("repeat.unlock", unlock_url(@resource, unlock_token: @token) %></p>
