<section class="header-10-sub v-center">
  <div class="background"></div>
  <div>
    <div class="container">
      <div class="hero-unit">
        <h1>Technology for Healthy Minds</h1>
        <p>ThriveSync combines actionable data with collaborative communication to optimize patient outcomes and cost of care for value-based
          organizations and the patients they serve.</p>
        <br>
      </div>
      <div class="btns">
        <a class="btn btn-success" href="<%= new_user_registration_path %>">Get Started</a>
      </div>
    </div>
  </div>
</section>

<section class="content-3">
  <div>
    <div class="container">
      <div class="row">
        <div class="col-sm-8 aligment">
          <h1>Improve Outcomes in Mental Health</h1>
          <p>
            ThriveSync provides the ultimate platform for improved mental health care.
          </p>
          <p>
            Individuals can efficiently collect key  data to identify behaviors that influence their mental health.
          </p>
          <p>
            Providers can be granted access to this data for better delivery of the right support at the right time.
          </p>
          <br>
          <a class="btn btn-success" href="#"><span class="fui-user"> </span>I'm an INDIVIDUAL looking to better manage my mental health</a>
          <br><br>
          <a class="btn btn-info" href="#"><span class="fui-heart"> </span>I'm a PROVIDER looking to better support my patients</a>
        </div>
        <div class="col-sm-4">
          <div class="img">
            <img src="/assets/iPhone-6-dashboard.png" alt="">
          </div>
          <div class="btns">
            <center>
              <a class="btn btn-inverse" href="https://itunes.apple.com/us/app/thrivesync-simple-rewarding/id926637563?mt=8&uo=4"><span class="fui-apple"> </span>App Store</a>
              <a class="btn btn-primary" href="#"><span class="fui-android"> </span>Google Play</a>
            </center>
          </div>
        </div>
      </div>
      <div class="row">

      </div>
    </div>
</section>

<footer class="footer-1 bg-midnight-blue">
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <a class="brand" href="/"><img src=/assets/ThriveSync-Logo-Navbar.png></a><br><br>
        <p class="lead">Technology for Healthy Minds</p>
        We build technology designed to improve the mental wellness and healthcare for every person on the planet.
        <div class="social-btns">
          <a href="https://www.facebook.com/ThriveStreams" target="_blank" class="social-btn-facebook sharrre" data-text="Startup Design Framework - http://designmodo.com/startup/ Suit Up your Startup!" data-url="http://designmodo.com/startup/">
            <div class="fui-facebook"></div>
            <div class="fui-facebook"></div>
          </a>
          <a href="http://www.twitter.com/ThriveStreams" target="_blank" class="social-btn-twitter sharrre" data-text="Startup Design Framework - http://designmodo.com/startup/ Suit Up your Startup!" data-url="http://designmodo.com/startup/">
            <div class="fui-twitter"></div>
            <div class="fui-twitter"></div>
          </a>
        </div>
      </div>
      <nav>
        <div class="col-sm-2 col-sm-offset-1">
          <h6>WHO WE HELP</h6>
          <ul>
            <li><a href="#">Individuals</a></li>
            <li><a href="#">Providers</a></li>
          </ul>
        </div>
        <div class="col-sm-2">
          <h6>ABOUT US</h6>
          <ul>
            <li><a href="http://thrivestreams.com" target="_blank">Company</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="http://thrivestreams.com/opportunities/" target="_blank">Career</a></li>
            <li><a href="http://thrivestreams.com/blog/" target="_blank">Blog</a></li>
            <li><a href="http://thrivestreams.com/contact/" target="_blank">Contact</a></li>
          </ul>
        </div>
        <div class="col-sm-2">
          <div>
            <a href="https://www.aptible.com" target="_blank"><img src="/assets/aptible-outline-light.png" width="200"></a>
          </div>
        </div>
      </nav>
    </div>
    <div class="row">
      <div class="col-sm-5 additional-links">
        <a href="http://thrivestreams.com/tandc-thrivesync/" target="_blank">Terms and Conditions</a>
        <a href="http://thrivestreams.com/pp-thrivesync/" target="_blank">Privacy Policy</a>
      </div>
    </div>
  </div>
</footer>