<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
	<h1>Welcome to ThriveTracker</h1>
	
	<p>ThriveTracker is a free app that helps you record key data to improve the management of your mood. You can improve your mental health and wellbeing. Simply track your mood, sleep, therapy, and even journal about your progress. You even earn real world rewards for consistently checking in daily.</p>
</div>