<section class="header-10-sub v-center">
  <div class="background"></div>
  <div>
    <div class="container">
      <div class="hero-unit">
        <h1>Technology for Healthy Minds</h1>
        <p>ThriveSync combines actionable data with collaborative communication to optimize patient outcomes and cost of care for value-based
          organizations and the patients they serve.</p>
        <br>
      </div>
      <div class="btns">
        <a class="btn btn-success" href="<%= new_user_registration_path %>">Get Started</a>
      </div>
    </div>
  </div>
</section>

<section class="content-3">
  <div>
    <div class="container">
      <div class="row">
        <div class="col-sm-8 aligment">
          <h1>Improve Outcomes in Mental Health</h1>
          <p>
            ThriveSync provides the ultimate platform for improved mental health care.
          </p>
          <p>
            Individuals can efficiently collect key  data to identify behaviors that influence their mental health.
          </p>
          <p>
            Providers can be granted access to this data for better delivery of the right support at the right time.
          </p>
          <br>
          <a class="btn btn-success" href="<%= page_path('individuals') %>"><span class="fui-user"> </span>I'm an INDIVIDUAL looking to better manage my mental health</a>
          <br><br>
          <a class="btn btn-info" href="<%= page_path('providers') %>"><span class="fui-heart"> </span>I'm a PROVIDER looking to better support my patients</a>
        </div>
        <div class="col-sm-4">
          <div class="img">
            <img src="/assets/iPhone-6-dashboard.png" alt="">
          </div>
          <div class="btns">
            <center>
              <a class="btn btn-inverse" href="https://itunes.apple.com/us/app/thrivesync-simple-rewarding/id926637563?mt=8&uo=4"><span class="fui-apple"> </span>App Store</a>
              <a class="btn btn-primary" href="#"><span class="fui-android"> </span>Google Play</a>
            </center>
          </div>
        </div>
      </div>
    </div>
</section>

<%= render "pages/footer" %>