<section class="header-2-sub bg-white">
  <div class="background">&nbsp;</div>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="hero-unit">
          <h1></h1>
        </div>
        <div class="btns">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="content-11">
  <div class="container">
    <span>Simple and Rewarding Mood Management</span>
    <%= link_to "Download ThriveTracker", "http://download.thrivetracker.co/", target: "_blank", class: "btn btn-success btn-lg" %>
    <%= link_to "Sign up now!", new_rails_user_registration_path, class: "btn btn-primary btn-lg" %>
  </div>
</section>

<section class="content-10">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h3>The Second Sneak-Peek
              of Startup Design Framework</h3>
        <p>You can decide whether to create your site using UI Kit blocks or samples.</p>
        <div class="features">
          <div class="box">
            <img src="../../assets/common-files/icons/retina@2x.png" width="100" height="100" alt="">
            <h6>Easy to use</h6>
            <p>To get started, you select the desired sample and base the entire website on it. It’s that simple!
            </p>
          </div>
          <div class="box">
            <img src="../../assets/common-files/icons/Gift-Box@2x.png" width="100" height="100" alt="">
            <h6>Feel our design</h6>
            <p>Samples will show you the feeling on how to play around using the components in the website building process.</p>
          </div>
          <div class="box">
            <img src="../../assets/common-files/icons/time@2x.png" width="100" height="100" alt="">
            <h6>Variety of designs</h6>
            <p>Responsive web design is a web design approach aimed to provide crafting sites.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-sm-offset-2 text-center">
        <div id="c-10_myCarousel" class="carousel slide">
          <div class="carousel-inner">
            <div class="item active">
              <img src="../../assets/common-files/img/content/iphone_mood@2x.png" width="302" height="635" alt="">
            </div>
            <div class="item">
              <img src="../../assets/common-files/img/content/iphone_sleep@2x.png" width="302" height="635" alt="">
            </div>
            <div class="item">
              <img src="../../assets/common-files/img/content/iphone_self_care@2x.png" width="302" height="635" alt="">
            </div>
            <div class="item">
              <img src="../../assets/common-files/img/content/iphone_journal@2x.png" width="302" height="635" alt="">
            </div>
          </div>
          <ol class="carousel-indicators">
            <li data-target="#c-10_myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#c-10_myCarousel" data-slide-to="1"></li>
            <li data-target="#c-10_myCarousel" data-slide-to="2"></li>
            <li data-target="#c-10_myCarousel" data-slide-to="3"></li>
          </ol>
        </div>      
      </div>
    </div>
  </div>
</section>

<footer class="footer-12">
  <div class="container">
    Made with <span class="fui-heart"> </span> in New York
  </div>
</footer>

<footer class="footer-2 bg-nephritis">
  <div class="container">
    <nav class="pull-left">
      <ul>
        <li class="active"><a href="#">Home</a>
        </li>
        <li><a href="#">Company</a>
        </li>
        <li><a href="#">Portfolio</a>
        </li>
        <li><a href="#">Blog</a>
        </li>
        <li><a href="#">Contact</a>
        </li>
      </ul>
    </nav>
    <div class="social-btns pull-right">
      <a href="#">
        <div class="fui-vimeo"></div>
        <div class="fui-vimeo"></div>
      </a>
      <a href="#">
        <div class="fui-facebook"></div>
        <div class="fui-facebook"></div>
      </a>
      <a href="#">
        <div class="fui-twitter"></div>
        <div class="fui-twitter"></div>
      </a>
    </div>
    <div class="additional-links">
      Be sure to take a look at our <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>
    </div>
  </div>
</footer>
