<div class="col-md-12">
  <% # link_to 'Back to Connections', friends_path(current_rails_user), class: "btn btn-primary" %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Available Connection Options</h3>
    </div>
    <div class="panel-body">
      <% for rails_user in @rails_users %>
        <% if current_rails_user.friend_with? rails_user %>
          <% #link_to "Disconnect", connection_path(rails_user), :method => "delete" %>
        <% elsif current_rails_user.invited? rails_user %>
          <% #link_to "Cancel Request", connection_path(rails_user), :method => "delete" %>
        <% elsif rails_user.invited? current_rails_user %>
          <% #link_to "Confirm Connection", connection_path(rails_user), :method => "put" %>
        <% else %>
          <div class="col-md-4">
            <h3><%= rails_user.first_name + " " + rails_user.last_name%></h3>
            <p><%= rails_user.email %></p>
          </div>
          <div class="col-md-8">
            <h3></h3>
            <%= link_to "Connect", connections_path(:rails_user_id => rails_user), :method => "post", class: "btn-primary btn-xs" %>
          </div>
          <div class="col-md-12">
            <hr>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

