<div class="col-md-12">
  <% if (current_user.is? :user) %>
    <%= link_to 'Invite New Supporter', new_user_invitation_path, class: "btn btn-primary" %>
  <% end %>
  <hr>
</div>
<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <% if current_user.is? :user %>
          <h3 class="panel-title">Supporter Connections</h3>
        <% end %>
    </div>
    <div class="panel-body">
    <% if !@supporters.empty? %>
      <% @supporters.each do |user| %>
        <div class="col-md-4">
          <h3><%= user.first_name + " " + user.last_name %></h3>
          <p><%= user.email %></p>
        </div>
        <div class="col-md-8">
          <h3></h3>
          <%= link_to "Disconnect", connection_path(user), :method => "delete", data: { confirm: "Are you sure you want to disconnect this connection?" }, class: "btn-danger btn-xs" %>
        </div>
        <div class="col-md-12">
          <hr>
        </div>
      <% end %>
    <% else %>
      <div>
        <h3>No connections available</h3>
      </div>
    <% end %>
  </div>
</div>