<div class="container">
  <section class="content-9">
    <div class="container">
      <div class="container">
        <h1>Privacy Policy</h1>
        <p>Effective Date: November 21st 2015</p>
        <p>
          This privacy policy applies to https://www.thrivesync.com and the ThriveSync service owned and operated by ThriveStreams Inc, (“ThriveStreams”) a Delaware corporation. This privacy policy describes how ThriveStreams collects and uses the personal information you provide on our web site and through our software. The use of information collected through our service shall be limited to the purpose of providing the service for which the Customer has engaged ThriveStreams. It also describes the choices available to you regarding our use of your personal information and how you can access and update this information. This privacy policy agreement does not pertain to protected health information entered by registered users. Our Terms of Service agreement, found www.thrivesync.com/terms defines the privacy of patient information for the treatment clients (Clients) and treatment providers (Providers), both comprising the users and Customers of our tele-health services.
        </p>
      </div>
      <div class="container">
        <h3>1. INFORMATION COLLECTION AND USE</h3>
        <h5>Owner of the Record</h5>
        <p>
          The service Provider (mental healthcare professional) is the legal owner of the medical records created and generated from treatment (including by not limited by the use of the ThriveSync services). Providers must comply with any medical records release requests by a client or legally authorized entity. Providers must maintain patient records as required by law within their jurisdiction and make available any records if requested by a client. No records shall ever be released without a written release from the client or client’s legally authorized agent.
        </p>
        <p>
          If the data Client seeks were not shared with any Provider, ThriveStreams is the owner of the record, and any requests for data should be directed to support@thrivesync.com
        </p>
        <h5>Service Provider Data Retention</h5>
        <p>
          ThriveStreams will retain personal data we process on behalf of our Customers for as long as needed to provide services to our Customer. ThriveStreams will retain and use this personal information as necessary to comply with our legal obligations, resolve disputes, and enforce our agreements.
        </p>
      </div>
      <div class="container">
        <h3>2. Information Collection and Use</h3>
        <p>
          We collect different information from Providers and Clients.
        </p>
        <p>
          If you are a treatment provider, we collect the following information from you
        </p>
        <ul>
          <li>
            Contact Information such as name, email address, mailing address, phone number
          </li>
          <li>
            Billing Information such as transaction ID’s when you pay your bill through a payment gateway (e.g. Paypal)
          </li>
          <li>
            Unique Identifiers such as user name, account number, password
          </li>
          <li>
            We may collect information about the location from which you access our Services
          </li>
        </ul>
        <p>
          We also collect the following information from you
        </p>
        <ul>
          <li>
            Information about your business such as company name and license number
          </li>
        </ul>
        <p>
          We use this information to
        </p>
        <ul>
          <li>
            Fulfill your order
          </li>
          <li>
            Send you an order confirmation
          </li>
          <li>
            Send you requested product or service information
          </li>
          <li>
            Send product updates
          </li>
          <li>
            Respond to customer service requests
          </li>
          <li>
            Administer your account
          </li>
          <li>
            Send you a newsletter and marketing communications
          </li>
          <li>
            Respond to your questions and concerns
          </li>
          <li>
            Improve our Web site and marketing efforts
          </li>
        </ul>
        <p>
          If you are a Client, we collect the following information from you:
        </p>
        <ul>
          <li>
            Contact information such as name, email address, phone number as provided by our treatment provider
          </li>
          <li>
            Your responses to, and interactions with our mobile application(s) on our phone or device
          </li>
          <li>
            Location information
          </li>
        </ul>
        <p>
          We also collect the following information from you
        </p>
        <ul>
          <li>
            Any notes, comments or other information about your interaction with your treatment provider as provided by your provider
          </li>
        </ul>
        <p>
          We use this information to
        </p>
        <ul>
          <li>
            When sharing with Provider(s) is inabled, to send your responses from our mobile application(s) to your selected Provider
          </li>
          <li>
            Analyze, present, and otherwise process your information for you and/or your treatment provider
          </li>
          <li>
            Build an algorithmic understanding of your behavior for the use in providing information about you to you and your treatment provider
          </li>
          <li>
            Administer, build, and improve our products and service
          </li>
          <li>
            Research our services, the use of our services, and other related uses.
          </li>
        </ul>
      </div>
      <div class="container">
        <h3>3. Information Sharing</h3>
        <p>
          We will share your personal information with third parties only in the ways that are described in this privacy policy. We  do not sell your personal information to third parties.
        </p>
        <h5>Service Providers</h5>
        <p>
          We may provide your personal information to companies that provide services to help us with our business activities such as an email service provider to send emails on our behalf or payment processing. These companies are authorized to use your personal information only as necessary to provide these services to us.
        </p>
        <h5>Legal Disclaimer</h5>
        <p>
          We may also disclose your personal information:
        </p>
        <ul>
          <li>
            as required by law, such as to comply with a subpoena, or similar legal process
          </li>
          <li>
            when we believe in good faith that disclosure is necessary to protect our rights, protect your safety or the safety of others, investigate fraud, or respond to a government request,
          </li>
          <li>
            if ThriveStreams is involved in a merger, acquisition, or sale of all or a portion of its assets, you will be notified via email and/or a prominent notice on our Web site of any change in ownership or uses of your personal information, as well as any choices you may have regarding your personal information,
          </li>
          <li>
            to any other third party with your prior consent to do so
          </li>
        </ul>
      </div>
      <div class="container">
        <h3>4. User Access and Choice</h3>
        <p>
          If your personal information changes, or if you no longer desire our service, you may correct, update, amend, delete/remove it by emailing our Customer Support at support@thrivesync.com If you are a provider, you can perform these changes by logging into your ThriveSync Provider account. We will respond to your request within 30 days. We will retain your information for as long as your account is active or as needed to provide you services. We will retain and use your information as necessary to comply with our legal obligations, resolve disputes, and enforce our agreements.
        </p>
        <h5>Opt-out Preferences</h5>
        <p>
          If you are a Provider, receiving emails from our site is part of our service. If you no longer wish to receive these emails, you may opt out of them by canceling your account. When you sign up for a ThriveSync account we will use your name and email address to send you newsletters. If you no longer wish to receive these emails you may follow the unsubscribe instructions contained in the email you receive or by emailing us at support@thrivesync.com.
        </p>
        <p>
          If you are a Client, we will send you only emails on behalf of your treatment provider, or when contacted by you directly.
        </p>
      </div>
      <div class="container">
        <h3>5. Tracking Technologies / Cookies</h3>
        <p>
          A cookie is a small text file that is stored on a user’s computer for record-keeping purposes. We use cookies on this site and within our platform. We do not link the information we store in cookies to any personally identifiable information you submit while on our site or when using our platform.
        </p>
        <p>
          We use session ID cookies to allow you to access your account and to make it easier for you to navigate our site. A session ID cookie expires when you close your browser.
        </p>
        <p>
          If you reject cookies, you may still use our site, but your ability to use some areas of our site will be limited. We do not honor Do Not Track requests.
        </p>
        <h5>Analytics / Log Files</h5>
        <p>
          As is true of most web sites, we gather certain information automatically and store it in log files on our site and within our platform. This information includes internet protocol (IP) addresses, browser type, internet service provider (ISP), referring/exit pages, operating system, date/time stamp, and clickstream data.
        </p>
        <p>
          We use this information, which does not identify individual users, to analyze trends, to administer the site and platform, to track users’ movements around the site and platform, and to gather demographic information about our user base as a whole.
        </p>
        <p>
          We do link this automatically-collected data to personally identifiable information.
        </p>
        <h5>3rd Party Tracking</h5>
        <p>
          Our third party partners employ scripts that help them better manage content on our site and within our platform. We do not tie the information gathered to our Customers’ or Users’ personally identifiable information.
        </p>
        <p>
          In addition, our business partners may use Cookies to provide us with anonymous data and information regarding the use of our Services. Specifically, some of our business partners use Cookies to show ThriveSync ads on other sites on the internet as a result of you using the Services. Such Cookies do not contain any Personal Information. You may opt out of receiving Cookies placed by such third party vendors by visiting the Network Advertising Initiative opt out page.
        </p>
        <p>
          Other Cookies used by our business partners may collect other non-personally identifying information, such as the computer’s IP address, type of operating system, type of internet browsing software, what web pages were viewed at what time, the geographic location of your internet service provider and demographic information, such as gender and age range. This information is used to provide ThriveStreams with more information about our users’ demographics and internet behaviors.
        </p>
        <p>
          We do not link the information stored in these Cookies directly to any of your Personal Information you submit while on the Site.
        </p>
      </div>
      <div class="container">
        <h3>6. Security</h3>
        <p>
          The security of your personal information is important to us. When you enter sensitive information (such as treatment progress information, a credit card number and login credentials), we encrypt the transmission of that information using secure socket layer technology (SSL).
        </p>
        <p>
          We follow generally accepted standards to protect the personal information submitted to us, both during transmission and once we receive it. No method of transmission over the Internet, or method of electronic storage, is 100% secure, however. Therefore, we cannot guarantee its absolute security. If you have any questions about security on our Web site, you can contact us at support@thrivesync.com
        </p>
      </div>
      <div class="container">
        <h3>7. Additional Information</h3>
        <h5>Social Media Widgets</h5>
        <p>
          Our Web site may include Social Media Features, such as the Facebook Like button and Widgets, such as the Share this button or interactive mini-programs that run on our site. These Features may collect your IP address, which page you are visiting on our site, and may set a cookie to enable the Feature to function properly. Social Media Features and Widgets are either hosted by a third party or hosted directly on our Site. Your interactions with these Features are governed by the privacy policy of the company providing it.
        </p>
        <h5>Changes To This Policy</h5>
        <p>
          We may update this privacy policy to reflect changes to our information practices. If we make any material changes we will notify you by email (sent to the e-mail address specified in your Provider Account) or by means of a notice on this Site prior to the change becoming effective. We encourage you to periodically review this page for the latest information on our privacy practices. It is the responsibility of the Treatment providers to notify their Clients of material changes to this policy.
        </p>
        <h5>Links To Other Sites</h5>
        <p>
          This Web site contains links to other sites that are not owned or controlled by ThriveStreams. Please be aware that we, ThriveStreams, are not responsible for the privacy practices of such other sites. We encourage you to be aware when you leave our site and to read the privacy statements of each and every Web site that collects personally identifiable information. This privacy statement applies only to information collected by this Web site.
        </p>
      </div>
      <div class="container">
        <h3>8. Contact Us</h3>
        <p>
          support@thrivestreams.com
        </p>
      </div>
    </div>
  </section>
</div>

<%= render "pages/footer" %>
















