<section class="crew-4">
  <div class="container">
    <h3>Meet the Team<br></h3>
    <div class="members">
      <div class="member-wrapper">
        <div class="member">
          <div class="photo-wrapper">
            <div class="photo" style="background-image: url(/assets/team/Adrian_Cunanan.png);"><img src="/assets/team/Adrian_Cunanan.png" alt="" style="display: none;"></div>
            <div class="overlay">
              <a href="#"><span class="fui-linkedin"></span></a>
              <a href="#"><span class="fui-facebook"></span></a>
              <a href="#"><span class="fui-twitter"></span></a>
            </div>
          </div>
          <div class="info">
            <div class="name">Adrian Cunanan</div>
            <b>Founder, CEO</b> who pairs compassionate design with creative technology.
            <div class="contacts">
              <a href="#">adrian[at]thrivestreams.com</a><br>
              <a href="#">@adriancunanan</a>
            </div>
          </div>
        </div>
      </div>
      <div class="member-wrapper">
        <div class="member">
          <div class="photo-wrapper">
            <div class="photo" style="background-image: url(/assets/team/Ryan_Bruce_Badilla.png);"><img src="/assets/team/Ryan_Bruce_Badilla.png" alt="" style="display: none;"></div>
            <div class="overlay">
              <a href="#"><span class="fui-linkedin"></span></a>
              <a href="#"><span class="fui-facebook"></span></a>
              <a href="#"><span class="fui-twitter"></span></a>
            </div>
          </div>
          <div class="info">
            <div class="name">Ryan Bruce Badilla</div>
            <b>Founder, CTO</b> who develops the mobile interface and the game engine that drives it.
            <div class="contacts">
              <a href="#">ryan[at]thrivestreams.com</a><br>
              <a href="#">@ryanbadilla</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/.container-->
</section>

<%= render "pages/footer" %>