<div class="sleep-index">
  <%= render "index" %>
</div>

<div id="sleep-modal" class="modal fade">
  <div class="modal-dialog">
    <div id="inner-sleep-modal" class="modal-content"></div>
  </div>
</div>