<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>Hi <%= @thriver.name %>,</p>
<p>
  <%= "#{@pro.first_name} #{@pro.last_name} has invited you to connect on ThriveSync.  You can accept it through the link below." %>
</p>
<p>
  <%= link_to "Manage Connections", connections_path %>
</p>
<p>
  If you want to accept the invitation, please click the link above and click the "Accept" button.
</p>
<p>
  This connection will not be created until you access the link above and approve it.
</p>
<p>
  Otherwise, you can click the "Reject" button to reject the invitation to connect.
</p>
<p>
  Keep thriving,
</p>

<p>
  - The ThriveStreams Team
</p>
</body>
</html>