<div class="modal-header">
  <h3><%= t "journals.delete.delete" %></h3>
</div>

<div class="modal-body">
  <ul class="errors"></ul>
  <%= t "journals.delete.sure" %>
</div>

<div class="modal-footer">
  <%= link_to t("journals.delete.yes"), journal_path(@journal), method: :delete, remote: true, class: "btn btn-danger" %>
  <%= link_to t("journals.delete.no"), "#", class: "btn btn-default", data: {dismiss: "modal"} %>
</div>