<div class="col-sm-12">
    <% if !@journals.empty? %>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Journal Entries</h3>
        </div>
        <div class="panel-body">
            <%
            if @journal_lookback_period == 'week'
            lookback_range = DATE_RANGE_THIS_WEEK
            elsif @journal_lookback_period == 'last_week'
            lookback_range = DATE_RANGE_LAST_WEEK
            elsif @journal_lookback_period == 'month'
            lookback_range = DATE_RANGE_THIS_MONTH
            elsif @journal_lookback_period == 'last_month'
            lookback_range = DATE_RANGE_LAST_MONTH
            elsif @journal_lookback_period == 'year'
            lookback_range = DATE_RANGE_THIS_YEAR
            elsif @journal_lookback_period == 'last_year'
            lookback_range = DATE_RANGE_LAST_YEAR
            end

            journals_for_lookback_period = @journals.where(timestamp: lookback_range)
            journals_for_lookback_period = journals_for_lookback_period.order('timestamp DESC')

            journals_for_lookback_period.each do |journal| %>

            <% if journal.user_id == current_user.id || (current_user.is? :superuser) || (current_user.is? :pro) &&
            (current_user.clients.include? journal.user_id) %>
            <div class="col-md-8">
                <h4><%= I18n.l journal.timestamp, format: :long_am_pm %></h4>
            </div>
            <div class="col-md-4">
                <%= link_to 'Edit', edit_journal_path(journal, modal_enabled: 'true'), remote: true, class: "btn-default
                btn-xs" %>
                <%= link_to 'Remove', journal_delete_path(journal, modal_enabled: 'true'), class: "btn-danger btn-xs",
                remote: true, journal: journal %>
            </div>
            <div class="col-md-12">
                <p>
                    <%= journal.journal_entry %>
                </p>
            </div>
            <div class="col-md-12">
                <hr>
            </div>
            <% end %>
            <% end %>
        </div>
    </div>
    <% end %>
</div>