<div class="journal-index">
  <%= render "index" %>
</div>

<div id="journal-modal" class="modal fade">
  <div class="modal-dialog">
    <div id="inner-journal-modal" class="modal-content"></div>
  </div>
</div>