<div class="col-sm-12">
  <%
  if @supported_thrivers != nil
    @supported_thrivers.sort_by { |r| r.last_name.downcase }
  end
  %>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Thrivers List</h3>
    </div>
    <div class="panel-body">
    <% if !@supported_thrivers.blank? %>
      <% @supported_thrivers.each do |thriver| %>
        <div class="col-md-4">
            <h3><%= thriver.first_name + " " + thriver.last_name %></h3>
            <p><%= thriver.email %></p>
        </div>
        <div class="col-md-8">
          <h3></h3>
          <%= link_to 'Send Card', new_message_path(thriver_id: thriver.id), class: "btn-primary btn-xs" %>
        </div>
        <div class="col-md-12">
          <hr>
        </div>
       <% end %> 
    <% else %>
       <div>
          <h3>No connections available</h3>
        </div>
    <% end %>
    </div>
  </div>
</div>