<div class="col-md-12">
  <center>
  	<div class="dropdown">
      <button class="btn btn-default disabled" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
        <%= "Today, " + Date.today.strftime("%m/%d/%Y").to_s  %>
      </button>
    </div>
  </center>
  <br>
</div>