<div class="capture-delorean">
  <%= render "capture/delorean_disabled" %>
</div>
<div class="capture-nav">
  <%= render "capture/nav/mood" %>
</div>
<div class="capture-window">
  <%= render "capture/show/mood"%>
</div>