<div class="col-md-12">
  <center>
  <%= link_to 'Mood', new_mood_path, remote: true, class: "btn btn-primary" %>
  <%= link_to 'Sleep', new_sleep_path, remote: true, class: "btn btn-primary" %>
  <%= link_to 'Self Care', new_self_care_path, remote: true, class: "btn btn-primary" %>
  <%= link_to 'Journal', new_journal_path, remote: true, class: "btn btn-primary" %>
</center>
  <hr>
</div>