<div class="modal-header">
  <h3><%= t "selfcare.delete.header" %></h3>
</div>

<div class="modal-body">
  <ul class="errors"></ul>
  <%= t "selfcare.delete.sure" %>
</div>

<div class="modal-footer">
  <%= link_to t("selfcare.delete.yes"), self_care_path(@self_care), method: :delete, remote: true, class: "btn btn-danger" %>
  <%= link_to t("selfcare.delete.no), "#", class: "btn btn-default", data: {dismiss: "modal"} %>
</div>