<div class="selfcare-index">
  <%= render "index" %>
</div>

</div>

<div id="selfcare-modal" class="modal fade">
  <div class="modal-dialog">
    <div id="inner-selfcare-modal" class="modal-content"></div>
  </div>