<%= render "shared/header" %>

	<div class="container theme-showcase">

      <% flash.each do |name, message| %>
        <div class="alert alert-info">
            <%= content_tag :div, "Status: " + message, :id => "flash_#{name}" %>
        </div>
      <%end%>

      <%= yield %>

    </div> <!-- /container -->

<%= render "shared/footer" %>