<%= render "shared/header" %>

	<div class="container theme-showcase">
      
    <%= render "shared/flash_notices", flash: flash %>

    <%= yield %>

  </div> <!-- /container -->

<%= render "shared/footer" %>