<%= render "welcome/header" %>
  
  <div class="container">
    <%= render "shared/flash_notices", flash: flash %>
  </div>
	
  <div class="page-wrapper">
    <%= yield %>
  </div>
  
<%= render "welcome/footer" %>